<div class="button-nav">
    <a href="/books"><button class=sort-button>All</button></a>
    <a href="/book-page/type/fiction"><button class=sort-button>Fiction</button></a>
    <a href="/book-page/type/drama"><button class=sort-button>Drama</button></a>
    <a href="/book-page/type/non-fiction"><button class=sort-button>Non-Fiction</button></a>
    <a href="/book-page/type/graphic-novel"><button class=sort-button>Graphic Novels</button></a>
</div>
