.book-item {
  display: grid;
  grid-template-columns: 20% 25%;
  border-bottom: black solid 1px;
}

.book-cover {
  margin: 20px;
  height: 200px;
  width: 150px;
}

.book-title {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

.book-author {
  margin-top: 15px;
  font-size: 20px;
  font-style: italic;
}

.title-link {
  text-decoration: none;
  color: black;
}

.button-nav {
  margin: 5px;
  margin-left: 25px;
}
.sort-button {
  background-color: white;
  font-size: 16px;
  border: none;
}

.sort-button:hover {
  background-color: darkgray;
  color: white;
}
